/*HELPERS */
body{
	background-color:yellow;
}
/*LAYOUT*/
.fullHeight{
	min-height:100vh;
}
.astronaut{
	background-color:coral;
}
.textPage{
	background-color:seagreen;
}
/*ASTRONAUT*/
.astronaut{
	background-image:url('../img/astronaut.jpg');
	background-size:cover;
	background-position:50% 50%;
}
.astronaut .headingBox{
	border:4px solid black;
	width:10rem;
	background-color:rgba(255, 255, 255, 0.8);
	position:absolute;
	top:80px;
	left:40px;
	padding:20px;
	font-family:"Rubik", sans-serif;
}
.astronaut .allCaps{
	text-transform:uppercase;
}
.astronaut .headingBox .headerText{
	text-align:center;
	font-size:3rem;
	font-weight:500;
	margin-bottom:30px;
}
.astronaut .headingBox .headerLink{
	margin-bottom:3px;
}
/*HAMBURGER*/
.hamburgerWrap{
	position:fixed;
	top:20px;
	right:10px;
	cursor:pointer;	
}
.hamburgerMenu{
	width:45px;
	height:45px;
	background-color:transparent;

}
.hamburgerMenu .lines{
	width:30px;
	height:5px;
	margin-bottom:4px;
	border-radius:6px;
	display:block;
	background-color:black;
	position:relative;
	right:0;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease;
}
#menuToggle {
	display:none;
}
#menu {
	overflow:hidden;
	max-height:0;
	padding:0;
	margin:0 auto;
	-webkit-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
#menuToggle:checked + #menu {
	max-height: 100px;
}
/*TEXTPAGE*/
.textPage{
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/space.jpg');
	background-size:cover;
	color:white;
	font-family:"Rubik", sans-serif;
}
.textPage .wrapper{
	display:block;
	position:relative;
}
.textPage .columns{
	width:100%;
	box-sizing:border-box;
	padding:0 70px;
}
.textPage .spaceVentures{
	margin:auto;
  	width:90%;
  	padding:10px;
	font-size:800%;
	height:200px;
	text-shadow:2px 2px 10px #000000;
}
.textPage .space{
	font-weight:600;
	font-size:85px;
	position:relative;
	z-index:10
}
.textPage .ventures{
	font-family:"Times New Roman", serif;
	font-weight:bold;
	font-size:105px;
	opacity:0.7;
	position:relative;
	left:78px;
	bottom:105px;
}
.textPage .titleTextPage{
	font-size:2rem;
	font-weight:bold;
	margin:15px 5px;
}
.textPage .textStyle{
	line-height:1.6;
	margin:6px 0;
	font-weight:400;
	font-size:0.93rem;
}
.textPage .quotes{
	font-style:italic;
	font-weight:400;
}
.textPage .quoteA{
	font-size:1.4rem;
	line-height:1.2;
	position:relative;
	left:75px;
	margin:20px 0;
}
.textPage .gradient .quoteB{
	display:none;
}
.insertLineBreak::before{
	content:"\a";
	white-space:pre;
}
.textPage .pinkText{
	font-size:0.85rem;
	color:#D200A2;
}
.textPage .linkUnderline{
	text-decoration:underline;
}
 .arrow{
	font-size:1.5rem;
}
/*FOOTER*/
footer{
	background-color:#000E1B;
	color:#fff;
	padding:20px;
	position:fixed;
	bottom:0;
	width:100%;
	height:40px;
	display:flex;
	justify-content:space-between;
}
footer section{
	display:flex;
	justify-content:space-between;
}
/*DESKTOP*/
@media screen and (min-width:800px){
	.hamburgerMenu:hover span:nth-child(2){
		right:4px;
	}
	.astronaut .headingBox{
		width:15rem;
	}
	.astronaut .headingBox .headerLink{
		text-align:right;
	}
	.astronaut .headingBox .headerLink span{
		position:relative;
		left:0;
		transition:left 0.5s cubic-bezier(0.65, 0, 0.35, 1);
	}
	.astronaut .headingBox .headerLink:hover span{
		left:10px;
	}
	.textPage{
		background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/spaceRot.jpg');
		background-size:cover;
	}
	.textPage .wrapper{
		display:flex;
	}
	.textPage .columns{
		padding:55px 90px;
	}
	.textPage .spaceVentures{
		margin:0;
		padding:0;
		margin-bottom:100px;
	}
	.textPage .space{
		font-size:7rem;
	}
	.textPage .ventures{
		font-size:9rem;
		left:5px;
		bottom:85px;
	}
	.textPage .textStyle pinkText{
		padding:0 20px;
	}
	.textPage .textStyle{
		font-size:1rem;
	}
	.textStyle::after{
		clear:both;
	}
	.textPage .gradient .quoteB{
		display:block;
		font-size:2.7rem;
		line-height:1.2;
		font-weight:300;
		background-image:linear-gradient(to bottom right, #D200A2, white, #D200A2);
		color:#de466c;
   		-webkit-background-clip:text;
   		-webkit-text-fill-color:transparent;
		background-clip:text;
		text-fill-color:transparent;
		opacity:0.3;
		padding:40px 0;
		width:400px;
	}
	.majorTom{
		background-image:url("../img/major_tom.jpg");
		background-size:85px 135px;
		width:85px; 
		height:135px;
		display:block;
		transform: rotate(5deg);
		float:right;
		margin:3px;
		padding:5px;
	}
	.insertLineBreak::before{
	content:none;
	}
}